<section class="px-4">
  @if (sortedEntries && sortedEntries.length > 0) {
    @for (entry of sortedEntries; track entry.startDate) {
      <div class="bg-green-50 border-l-4 border-green-700 p-4 mb-4 rounded-lg">
        <h4 class="education-institution flex items-center">
          <span class="flex items-center gap-1">
            <img src="assets/icons/graduation-hat.png" alt="Education Icon" class="h-6 w-6"/>
            <span>{{ entry.institution }}</span>
          </span>
          <span class="education-period ml-auto">{{ formatPeriod(entry.startDate, entry.endDate) }}</span>
        </h4>
        <p class="education-degree">{{ entry.degree }}</p>
          @if (entry.technologies && entry.technologies.length > 0) {
            <div class="flex flex-wrap gap-2 mt-2">
              @for (tech of entry.technologies; track tech) {
                <span class="technology-tab">{{ tech }}</span>
              }
            </div>
          }
      </div>
    }
  }
  @else {
    <p class="text-gray-600">{{ 'sections.noEducation' | translate }}</p>
  }
</section>
