.language-switcher {
  position: fixed;
  top: 20px;
  right: calc(50% - 210mm / 2 - 100px);
  z-index: 50;
  display: flex;
  gap: 10px;
}
.lang-button {
  background: none;
  border: 2px solid transparent;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.lang-button.active {
  border-color: #007bff; /* Highlight color */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
.lang-button:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.1);
}
.lang-button img {
  display: block;
}

/* Summary text styles */
.summary-text {
  font-size: var(--font-base);
  color:  #374151; /* text-gray-700 */
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/* Print styles */
@media print {
  body {
    background: white !important;
  }

  main {
    margin: 0 !important;
    border: none !important;
  }

  .red-guide {
    display: none !important;
  }
}
