<app-header></app-header>
<div class="language-selector">
  @for (lang of getAvailableLanguages(); track lang) {
    <button (click)="changeLanguage(lang)" [class.active]="getCurrentLanguage() === lang">
      <img src="assets/flags/{{ lang }}.png" alt="{{ lang | uppercase }} Flag">
      {{ lang | uppercase }}
    </button>
  }
</div>
<button class="print-button" (click)="printPage()">Print CV</button>
@if (cvData) {
  <app-cv-content [cvData]="cvData" [profileImage]="profileImage"></app-cv-content>
}
