<section class="p-4 ">
  <!-- Sección: título de experiencia tomado de i18n -->
  <h2 class="section-title">{{ 'sections.experience' | translate }}</h2>

  @if (sortedEntries && sortedEntries.length > 0) {
    @for (entry of sortedEntries; track entry.startDate) {
      @if (entry.show !== false) {
        <div [class.bg-blue-50]="isExperience(entry)" [class.border-blue-700]="isExperience(entry)"
             [class.bg-green-50]="!isExperience(entry)" [class.border-green-700]="!isExperience(entry)"
             class="border-l-4 p-4 my-md rounded-lg">
          <h4 [class.experience-company]="isExperience(entry)" [class.education-company]="!isExperience(entry)" class="flex items-center">
            <div class="flex items-center">
              @if (isExperience(entry) && entry.logo) {
                <img [src]="entry.logo" [alt]="entry.logoAlt || 'Company Logo'" 
                     [class]="getLogoClass(entry)"/>
              }
              <div class="flex flex-col ml-2">
                <span class="flex items-center gap-1">
                  @if (isExperience(entry)) {
                    <img src="assets/icons/briefcase.png" alt="Experience Icon" class="h-6 w-6 mr-2"/>
                  }
                  @if (!isExperience(entry)) {
                    <img src="assets/icons/graduation-hat.png" alt="Education Icon" class="h-6 w-6 mr-2"/>
                  }
                  <span>{{ entry.company }}</span>
                </span>
                <span class="text-xs text-gray-500">{{ entry.location }}</span>
                <p [class.experience-position]="isExperience(entry)" [class.education-position]="!isExperience(entry)" class="text-sm font-medium">{{ entry.position }}</p>
              </div>
            </div>
            <span [class.experience-period]="isExperience(entry)" [class.education-period]="!isExperience(entry)" class="ml-auto">{{ formatPeriod(entry.startDate, entry.endDate) }}</span>
          </h4>
          <!-- Spacing between header and content -->
          <div class="my-sm"></div>
          @if (entry.summary) {
            <p class="experience-summary">{{ entry.summary }}</p>
          }
          @if (entry.technologies) {
            <div class="technology-list">
              @for (tech of entry.technologies; track tech.name) {
                <span class="technology-item">{{ tech.name }} ({{ tech.level }})</span>
              }
            </div>
          }
        </div>
      }
    }
  }
  @else {
    <p class="text-gray-600">{{ 'sections.noExperience' | translate }}</p>
  }
</section>
