.a4-page {
  width: 210mm;
  min-height: 297mm;
  margin: auto 0; 

  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.flexaf {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  gap: 0.5rem;
}

// .profile-image-container {
//   width: 100%;
//   border-radius: 9999px;
//   overflow: hidden;
//   margin-bottom: 0.5rem;
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
//   padding: 0.5rem;
// }

// .profile-image {
//   width: 100%;
//   height: 100%;
//   max-width: 100%;
//   object-fit: cover;
// }

.main-content {
  --display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid red;
}



@media print {
  .language-selector {
    display: none !important;
  }

  .a4-page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: none;
    background: initial;
    page-break-after: always;
  }
}
